<!DOCTYPE html>
<!-- base html with navigation bar -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
    <title>{{title}}</title>
    {% else %}
    <title>Welcome to MicroBLOG</title>
    {% endif %}
</head>
<body>
    <div>Microblog: 
        <!-- don't hardcode urls into templates 
        That way in case the links are changed or refactored you won't have
        to comb through all the templates looking to change them-->
        <a href="{{url_for('index')}}">Home</a>
        <!-- if user has not logged in yet, display log in link -->
        {% if current_user.is_anonymous %}
        <a href="{{url_for('login')}}">Login</a>
        {% else %}
        <!-- else if user is not anonymous, then user is logged in 
        so display logout link rather to make it more intuitive-->
        <a href="{{url_for('logout')}}">Logout</a>
        {% endif %}
    
    </div>
    <hr>
    <!-- flash messages aren't rendered by default 
    
    the with statements assigns the results of get_flashed_messages
    to messages variable.  The get_flashed_messages has been implemented in
    base.html so in case other pages may utilise this functionality, there will be no need
    to do it again because of template inheritance-->
    {% with messages = get_flashed_messages() %}  
    {% if messages %}
    <ul>
    {% for message in message %}
    <li>{{message}}</li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}


    {% block content %}{% endblock %}
    
</body>
</html>