{% extends "base.html" %}

{% block content %}
<h1>Sign In</h1>
<!-- the novalidate tells the browser not to apply any validation and to leave it 
to the Flask server -->
<form action="" method="POST" novalidate>
    <!-- form.hidden_tag() is a hidden field against CSRF attacks -->
    {{ form.hidden_tag() }}
    <p>
        <!-- form for username -->
        {{form.username.label}}<br>
        {{form.username(size=32)}}
        <!-- in case of errors during validation -->
        {% for error in form.username.errors %}
        <span style="color: red;">[{{error}}]</span>
        {% endfor %}
    </p>

    <p>
        <!-- form for password -->
        {{form.password.label}}<br>
        {{form.password(size=32)}}
        {% for error in form.password.errors %}
        <span style="color: red;">[{{error}}]</span>
        {% endfor %}
    </p>

    <p>{{form.remember_me()}} {{form.remember_me.label()}}</p>
    <p>{{form.submit()}}</p>
</form>
{% endblock %}