{% extends "base.html" %}

{% block content %}
<h1>Reset Your Password</h1>
<form action="" method="POST" novalidate>
    <!-- form.hidden_tag() is a hidden field against CSRF attacks -->
    {{ form.hidden_tag() }}

    <p>
        <!-- password field -->
        {{form.password.label}}<br>
        {{form.password(size=32)}}
        <!-- in case of errors during validation -->
        {% for error in form.password.errors %}
        <span style="color: red;">[{{error}}]</span>
        {% endfor %}
    </p>

    <p>
        <!--recheck password field -->
        {{form.password2.label}}<br>
        {{form.password2(size=32)}}
        <!-- in case of errors during validation -->
        {% for error in form.password2.errors %}
        <span style="color: red;">[{{error}}]</span>
        {% endfor %}
    </p>
    <!-- submit field -->
    <p>{{form.submit()}}</p>

{% endblock %}


