{% extends "base.html" %}

{% block app_content %}
<table class="table table-hover">
    <tr>
        <!-- avatar for current user logged in -->
        <td width="256px"><img src="{{ user.avatar(256)}}"></td>
        <td><h1>{{ _('User: %(username)', username=user.username) }}</h1></td>
        {% if user.about_me %}<p>{{user.about_me}}</p>{% endif %}
        <!--render last seen in flask_moment LLL format for eg March 3rd, 2020 6:02 PM 
        Also time follows UTC ISO-8601 standard ie 
        {{year}}-{{month}}-{{day}}T{{hour}}:{{minute}}:{{second}}{{timezone}} -->
        {% if user.last_seen %}<p>{{ _('Last seen on'): }} {{ moment(user.last_seen).format('LLL') }}</p>{% endif %}
        <p>{{ _('%(count)d followers', count=user.followers.count()) }}, {{ _('%(count)d following', count=user.followed.count()) }}</p>
        <!--
            <p>{{ user.followers.count() }} followers, {{ user.followed.count() }} followed</p> -->
            
        <!-- this is to make sure you don't edit the profile of someone else
        but only yourself -->
        {% if user == current_user %}<p><a href="{{url_for('edit_profile')}}">{{ _('Edit Profile') }}</a></p>
        {% elif not current_user.is_following(user) %}
        <p>
        <form action="{{url_for('follow', username=user.user.username)}}" method="POST" >
            {{ form.hidden_tag() }}
            {{ form.submit(value=_('Follow'), class_="btn btn-default") }}
            
        </form>
        </p>
        {% else %}
        <p>
        <form action="{{ url_for('unfollow', username=user.username) }}" method="POST">
            {{ form.hidden_tag() }}
            {{ form.submit(value= _('Unfollow'), class_="btn btn-default") }}

        </form>
        </p>
        {% endif %}
    </tr>
</table>
<hr>
{% for post in posts %}
<!-- referencing sub-template _post.html -->
    {% include "_post.html" %}
{% endfor %}
 <!-- pagination -->
 <nav aria-label="...">
    <ul class="pager">
        <li class="previous {%  if not prev_url %} disabled {% endif %}">
            <a href="{{ prev_url or '#' }}">
                <span aria-hidden="true">&larr;</span>{{ _('Newer posts') }}
            </a>

        </li>
        <li class="next {% if not next_url %} disabled {% endif %}">
            <a href="{{ next_url or '#' }}">
                {{ _('Older posts') }} <span aria-hidden="true">&rarr;</span>

            </a>
        </li>
    </ul>
</nav>

{% endblock %}